<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: Raleway, sans-serif;
}


a.text:active,
a.text:hover,
a.text{
    text-decoration: none;
    color: white;
}
a.text:hover{
    color: #d7a0a0;
}
body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0 0 24px #5C5696;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #1abc9c, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: linear-gradient(270deg, #6A679E, #1abc9c);
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
}

.login__field {
    position: relative;
}

.login__icon {
    position: absolute;
    top: 10px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px 10px 10px 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: #4C489D;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}


.header {
    padding: 15px;
    text-align: center;
    background: linear-gradient(270deg, #6A679E, #1abc9c);
    color: white;
    font-size: 30px;
}

.login__logo {
    padding: 5%;
    letter-spacing: 9.2pt;
    line-height: 130%;
    font-size: 30px;
    color: #4C489D;
    -webkit-background-clip: text;
    margin-top: 20%;
}

.logout__submit{
    background: #fff;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 10px;
    border-radius: 26px;
    color: #0c6554;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
.logout__submit:active,
.logout__submit:focus,
.logout__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #1abc9c;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0;
    right: 0;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}


*:focus {outline:none !important}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 auto;
}

.card {
    background: linear-gradient(270deg, #6A679E, #5C5696);
    width: 225px;
    min-height: 300px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
    display: block;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
    transform: scale(1.1);
}

.card__bottom {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;
    color: white;
}

.card__title:hover {
    color: #de9e9e;
}


/* Стили для формы поиска */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 600px;
}

/* Стили для текстового поля ввода */
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

/* Стили для кнопки поиска */
.search-btn {
    background: linear-gradient(270deg, #6A679E, #1abc9c);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

/* Стили для кнопки с указателем мыши */
.search-btn:hover {
    background-color: #0069d9;
}

/* Стили для кнопки в фокусе */
.search-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.add_form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background: #6A679E;
}

.add_form input[type="text"],
.add_form input[type="file"],
.add_form input[type="submit"] {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.add_form input[type="text"],
.add_form input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add_form input[type="submit"] {
    background: linear-gradient(270deg, #6A679E, #1abc9c);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.add_form input[type="submit"]:hover {
    background-color: #19b799;
}

</style>